mixin following(following)
  .searchedUser
    .flex
      div(onclick=`sendRequestForProfile('${following.username}')` style="display:flex; cursor:pointer;width:30%")
        .profile-pic
          span= following.initials
        .user-details.follow-name
          .name
            span= following.name
          .username
            span= `@${following.username}`
      span.toggle-switch.switch(onclick=`toggleFollowUnfollow('${following.username}')`)
        if following.isFollowingMe
          input#chkTest(type='checkbox' name='chkTest' checked)
        else
          input#chkTest(type='checkbox' name='chkTest')
        label(for='chkTest')
          span.toggle-track