mixin following(user)
  .result
    .user-info
      .profile-pic
          span.center= `${user.initials}`
      .user-details
        .name
          a(href=`/user/${user.username}`)= `${user.name}`
        .username
          a(href=`/user/${user.username}`)= `@${user.username}`
      if user.username != loggedUser
        div.follow-btn-wrapper
          button.follow-btn.primary-btn(onclick=`toggleFollowUnFollow('${user.username}')`)= user.isFollowingMe ? 'Unfollow' : 'Follow' 