mixin following(user)
  .result
    div
      .user-info
        .profile-pic
          if user.imageUrl
            img(src=user.imageUrl)
          else 
            span.center= user.initials
        .user-details
          .name
            a.link(href=`/user/${user.username}`)= `${user.name}`
          .username
            a.link(href=`/user/${user.username}`)= `@${user.username}`
      .bio= user.bio
    if user.username != loggedUser
       button.primary-btn(onclick=`toggleFollowUnFollow('${user.username}')`)= user.isFollowingMe ? 'Unfollow' : 'Follow'