mixin following(following)
  .searchedUser
    .flex
      div.userDetails(onclick=`sendRequestForProfile('${following.username}')`)
        .profile-pic
          span= following.initials
        .user-details.follow-name
          .name
            span= following.name
          .username
            span= `@${following.username}`
      div.follow-btn-wrapper
        button.follow-btn.primary-btn(onclick=`toggleFollowUnfollow('${following.username}')`)= following.isFollowingMe ? 'Unfollow' : 'Follow'