.menu-bar
  .pages
    .page.app-name
      span POSTMIT
    a(class=`page ${activePage === 'home' && 'active-page'}` href=`${activePage === 'home' ? '#' : '/home'}`)
      i.fas.fa-home
      span Home
    a(class=`page ${activePage === 'bookmarks' && 'active-page'}` href=`${activePage === 'bookmarks' ? '#' : '/user/bookmarks'}`)
      i.far.fa-bookmark
      span Bookmarks
    a(class=`page ${activePage === 'profile' && 'active-page'}` href=`${activePage === 'profile' ? '#' : `/user/${loggedUser}`}`)
      i.far.fa-user
      span Profile
    button.primary-btn.full-width-btn(onclick=`showPostPopup('${initials}','${imageUrl}')`) Post
  include logout.pug