mixin post(post)
  .post
    .flex
      .profile-pic
        span= post.initials
      .user-details
        .name
          span= post.name 
          span(class="timestamp")= ` ・ ${post.posted_at}`
        .username
          span= `@${post.username}`
    .post-content= post.message
    .actions.flex
      .action
        - let className="far fa-heart icon likeBtn";
        if post.isLiked
         - className="fas fa-heart icon likeColor"
        i(class=className onclick=`toggleLikeUnlike(${post.id})`) 
        span(class="count likeColor")= post.likedUsers.length?post.likedUsers.length:''