mixin post(post)
  .card
    .post(ondblclick=`displayHeart(${post.postId})` id=`post_${post.postId}`)
      .delete
        if post.isDeletable
          i(class="fas fa-trash" onclick=`showDeletePopUp(${post.postId})`)
      .flex
        .profile-pic
          span= post.initials
        .user-details
          .name
            span= post.name 
            span(class="timestamp")= ` ・ ${post.postedAt}`
          .username
            span= `@${post.username}`
      .post-content= post.message
      .actions.flex
        .action
          - let className="far fa-heart icon likeBtn";
          - let countClass = "likeBtn"
          if post.isLiked
           - className="fas fa-heart icon likeColor"
           - countClass = "likeColor"
          i(class=className onclick=`toggleLikeUnlike(${post.postId})` id=`like_${post.postId}`) 
          span(class=`count ${countClass}`)= post.likedUsers.length?post.likedUsers.length:''
    i(class='fas fa-heart fa-3x instagramLike' id=`heart_${post.postId}` ondblclick=`displayHeart(${post.postId})`) 