mixin post(post)
  .post
    .flex
      .profile-pic
        span= post.initials
      .user-details
        .name
          span= post.name 
          span(class="timestamp")= ` ・ ${post.posted_at}`
        .username
          span= `@${post.username}`
    .post-content= post.message
    .actions.flex
      .action
        img(src='/assets/chat.svg' alt='Comment')
      .action
        img(src='/assets/heart.svg' alt='Like')
      .action
        img(src='/assets/refresh.svg' alt='Repost')
      .action
        img(src='/assets/bookmark.svg' alt='Bookmark')