.post
  .flex
    .profile-pic
      span= initials
    .user-details
      .name
        span= name 
        span(class="timestamp")= ` ・ ${posted_at}`
      .username
        span= `@${username}`
  .post-content= message
  .actions.flex
    .action
      - let className="far fa-heart icon likeBtn";
      if isLiked
       - className="fas fa-heart icon likeBtn"
      i(class=className onclick=`toggleLikeUnlike(${id})`)