doctype
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/layout.css' type='text/css')
        link(rel='stylesheet' href='/css/menu-bar.css' type='text/css')
        link(rel='stylesheet' href='/css/search-panel.css' type='text/css')
        link(rel='stylesheet' href='/css/profile.css' type='text/css')
        link(rel='stylesheet' href='/css/post.css' type='text/css')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css' rel='stylesheet')
        script(src="/js/request.js")
        script(src="/js/popup.js")
        script(src="/js/post.js")
        script(src="/js/search.js")
        script(src="/js/index.js")
        script(src="/js/saveUser.js")
        title Postmit
    body
        include menubar.pug
        .main-panel
            .header
                span Profile
            .profile
                .row
                    .user-info
                        .profile-pic.profile-pic-big
                            if profileUrl
                              img(src=profileUrl)
                            else 
                              span.center= initials
                        .user-details
                          .name.big-name
                            a(href=`/user/${username}`)= name 
                          .username.big-username
                            a(href=`/user/${username}`)= `@${username}`
                    if isMyProfile
                        button.primary-btn(onclick="displayEditProfile()") Edit Profile
                    else
                        button.primary-btn(onclick=`toggleFollowUnFollow('${username}')`)= isFollowing ? 'Unfollow' : 'Follow'
                .row
                    .content.bio= bio
                .row.space-between
                    .row
                        .small-detail
                            .icon
                                i.fas.fa-birthday-cake
                            span.dob= `Born ${dob}`
                        .small-detail
                            .icon
                                i.fas.fa-calendar-alt
                            span.joinedDate= `Joined ${joinedDate}`
                .row
                    .small-detail
                        a.link(href=`/user/${username}/following`)
                            span.count= following.length
                            span Following
                    .small-detail
                        a.link(href=`/user/${username}/followers`)
                            span.count= followers.length
                            span Followers
            block posts
        include searchPanel.pug
