doctype
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/layout.css' type='text/css')
    link(rel='stylesheet' href='/css/menu-bar.css' type='text/css')
    link(rel='stylesheet' href='/css/search-panel.css' type='text/css')
    link(rel='stylesheet' href='/css/post.css' type='text/css')
    link(rel='stylesheet' href='/css/profile.css' type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css' rel='stylesheet')
    script(src="/js/request.js")
    script(src="/js/popup.js")
    script(src="/js/post.js")
    script(src="/js/search.js")
    script(src="/js/index.js")
    title Postmit
body
    include components/menubar.pug
    .main-panel
        .header
            a.icon(href=`/user/${profile.username}`)
                i(class="fas fa-arrow-left")
            .user-info
                .user-details
                    .name.big-name
                      a(href=`/user/${profile.username}`)= profile.name 
                    .username.big-username
                      a(href=`/user/${profile.username}`)= `@${profile.username}`
        -let list = followingList || []
        if followersList
         - list = followersList
        .categories
            a(class=`category ${followersList ? 'active-category' : ''}`  href=followersList ? '#' : `/user/${profile.username}/followers`) Followers
            a(class=`category ${followingList ? 'active-category' : ''}`  href=followingList ? '#' : `/user/${profile.username}/following`) Following
        .feed
          .posts
                include components/following.pug
                each item in list
                    +following(item)
    include components/searchPanel.pug
