doctype
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/styles/styles.css' type='text/css')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css' rel='stylesheet')
        link(rel='stylesheet' href='/styles/profile.css' type='text/css')
        script(src="/js/popup.js")
        script(src="/js/request.js")
        script(src="/js/index.js")
        title Postmit
    body
    .root
        .menu
            div
                .app-name POSTMIT
                .pages
                    a.page(href='/home') Home
                    a.page.active-page(href=`#`) Profile
                    button.popup-post-btn(onclick='showNewPostElement()') Post
        .main-panel
            .header
                span Profile
            .profile
            .big-profile
                .profile-box
                    .initials= initials
                .details
                    .name= name
                    .name.username= username
            .bio= bio
            .joined_date
                img(src='/assets/calendar.svg' alt='Joined Date')
                div
                    span Joined on #{joined_date}
            .extra-details
                div
                    span.count 14
                    span Following
                div
                    span.count 6
                    span Followers
            .user-activity
                .activity-bar
                    .activity-title.activeTab(onclick="display('posts')" id="posts-tab") Posts
                    .activity-title(onclick="display('likedPosts')" id="likes-tab") Likes
            .feed
                .posts(id="posts")
                    include components/post.pug
                    each item in posts 
                        +post(item)
                .posts.disable(id="likedPosts")
                    each item in likedPosts 
                        +post(item)
        .search-panel
            .search-bar.flex
              .search-icon
                img(src='./assets/search.svg' alt='Search')
              .search-input(onkeyup='search()')
               input(type='text' placeholder='Search')
            .search-output